<div class="a5e-chat-card">
    <header class="u-align-center u-flex u-gap-md u-p-xs u-pb-0">
        <img
            class="a5e-image a5e-image--card"
            src="{{img}}"
        >

        <h3 class="u-font-serif u-mb-0 u-text-xl">
            {{title}} {{#if ability}} ({{ability}}){{/if}}
        </h3>
    </header>

    <hr class="a5e-rule a5e-rule--card">

    <div>
        <div class="a5e-roll a5e-js-toggle-roll-tooltip-visibility">
            {{formula}}
        </div>

        {{{tooltip}}}

        <div class="a5e-roll a5e-roll--total">
            {{total}}
        </div>
    </div>
</div>
