<div class="a5e-chat-card">
    <header class="a5e-chat-card__header">
        <img
            class="a5e-image a5e-image--card"
            src="{{img}}"
        >

        <h3 class="a5e-heading a5e-heading--card">{{title}}</h3>
    </header>

    {{#if hasDescription }}
        <div class="a5e-chat-card__body">
            <hr class="a5e-rule a5e-rule--card">

            {{{description}}}
        </div>
    {{/if}}

    {{#if hasAttack }}
        <hr class="a5e-rule a5e-rule--card">

        <div>
            <h3 class="a5e-chat-card__roll-label">{{localize "A5E.RollLabelAttack"}}</h3>

            <div class="
                a5e-chat-card__roll
                {{#if isCrit}}a5e-chat-card__roll--crit{{/if}}
                {{#if isFumble}}a5e-chat-card__roll--fumble{{/if}}
                a5e-js-toggle-roll-tooltip-visibility
            ">
                {{attack.roll.formula}}
            </div>

            {{{attack.tooltip}}}

            <div class="a5e-chat-card__roll a5e-chat-card__roll--total">
                {{attack.roll.total}}
            </div>
        </div>
    {{/if}}

    {{#if hasDamage}}
        <hr class="a5e-rule a5e-rule--card">

        {{#each damage}}
            <div>
                <h3 class="a5e-chat-card__roll-label">
                    {{localize "A5E.RollLabelDamage"}}
                    {{#if this.damageType}}({{this.damageType}})
                    {{else}}({{localize "A5E.DamageUnknown"}}){{/if}}
                </h3>

                <div class="a5e-chat-card__roll a5e-js-toggle-roll-tooltip-visibility">
                    {{this.roll.formula}}
                </div>

                {{{this.tooltip}}}

                <div class="a5e-chat-card__roll a5e-chat-card__roll--total">
                    {{this.roll.total}}
                </div>
            </div>
        {{/each}}
    {{/if}}

    {{#if hasAbilityCheck}}
        <hr class="a5e-rule a5e-rule--card">

        <a
            class="a5e-button a5e-button--chat a5e-js-chat-ability-check-button"
            data-ability="{{abilityCheck.ability}}"
        >
            {{abilityCheck.label}}
        </a>
    {{/if}}

    {{#if hasSavingThrow}}
        <hr class="a5e-rule a5e-rule--card">

        <a
            class="a5e-button a5e-button--chat a5e-js-chat-saving-throw-button"
            data-ability="{{savingThrow.targetAbility}}"
        >
            {{savingThrow.label}} {{#if savingThrow.dc}}(DC {{savingThrow.dc}}){{/if}}
        </a>
    {{/if}}
</div>
