<form
    class="a5e-sheet__form"
    autocomplete="off"
>
    <header class="a5e-sheet-header">
        <div class="a5e-sheet-header__left">
            <img
                src="{{actor.img}}"
                title="{{actor.name}}"
                data-edit="img"
                class="a5e-image a5e-image--actor-header"
            />

            <div
                class="a5e-track a5e-track--fatigue a5e-js-track"
                data-track="fatigue"
            >
                <i class="
                    a5e-track__icon
                    {{#if data.attributes.fatigue}}a5e-track__icon--level-{{data.attributes.fatigue}}{{/if}}
                    fas
                    fa-running
                "></i>

                <ul class="a5e-track__list">
                    {{#range 8 }}
                        <li
                            class="
                                a5e-track__list-item
                                {{#if (eq ../data.attributes.fatigue this)}}a5e-track__list-item--selected{{/if}}
                                a5e-js-track-item
                            "
                            data-degree="{{this}}"
                        >
                            {{this}}
                        </li>
                    {{/range}}
                </ul>

                <div class="a5e-tooltip a5e-tooltip--track a5e-tooltip--obstacle-left">
                    {{localize "A5E.Fatigue"}}
                </div>
            </div>

            <div
                class="a5e-track a5e-track--strife a5e-js-track"
                data-track="strife"
            >
                <i class="
                    a5e-track__icon
                    {{#if data.attributes.strife}}a5e-track__icon--level-{{data.attributes.strife}}{{/if}}
                    fas
                    fa-brain
                "></i>

                <ul class="a5e-track__list">
                    {{#range 8 }}
                        <li
                            class="
                                a5e-track__list-item
                                {{#if (eq ../data.attributes.strife this)}}a5e-track__list-item--selected{{/if}}
                                a5e-js-track-item
                            "
                            data-degree="{{this}}"
                        >
                            {{this}}
                        </li>
                    {{/range}}
                </ul>

                <div class="a5e-tooltip a5e-tooltip--track a5e-tooltip--obstacle-left">
                    {{localize "A5E.Strife"}}
                </div>
            </div>

            {{#if (eq data.attributes.hp.value 0)}}
                <div class="a5e-death-saves">
                    <i class="fas fa-check"></i>

                    <input
                        class="a5e-death-saves__input"
                        type="number"
                        name="data.attributes.death.success"
                        data-dtype="Number"
                        placeholder="0"
                        value="{{data.attributes.death.success}}"
                        min="0"
                        max="3"
                    >

                    <i
                        class="a5e-death-saves__icon fas fa-skull a5e-js-roll-death-saving-throw"></i>

                    <input
                        class="a5e-death-saves__input"
                        type="number"
                        name="data.attributes.death.failure"
                        data-dtype="Number"
                        placeholder="0"
                        value="{{data.attributes.death.failure}}"
                        min="0"
                        max="3"
                    >

                    <i class="fas fa-times"></i>
                </div>
            {{/if}}

            {{> "systems/a5e/templates/actors/partials/health.hbs" hp=data.attributes.hp }}
        </div>

        <div class="u-flex u-gap-xl">
            <div class="u-flex-grow">
                <input
                    type="text"
                    name="name"
                    data-dtype="String"
                    value="{{actor.name}}"
                    class="a5e-input a5e-input--character-name"
                    placeholder="Name"
                />

                <div class="u-flex u-text-medium">
                    <input
                        class="a5e-input a5e-input--classes"
                        type="text"
                        data-dtype="String"
                        name="data.details.classes"
                        value="{{ data.details.classes }}"
                        placeholder="Class"
                    />
                </div>
            </div>

            <div class="a5e-sheet-header__shields">
                <div class="
                        a5e-header-shield
                        a5e-header-shield--inspiration
                        a5e-js-toggle-inspiration
                        {{#if data.attributes.inspiration}}a5e-header-shield--active{{/if}}
                    ">
                    <i class="fas fa-dice-d20"></i>
                    <span class="a5e-header-shield__label">
                        {{localize "A5E.Inspiration"}}
                    </span>
                </div>

                <div class="a5e-header-shield">
                    <input
                        class="a5e-input a5e-input--level"
                        name="data.details.level"
                        type="number"
                        data-dtype="Number"
                        min=1
                        value="{{ data.details.level }}"
                    />

                    <span class="a5e-header-shield__label">
                        {{localize "A5E.Level"}}
                    </span>
                </div>

                <div class="a5e-header-shield">
                    +{{data.attributes.prof}}
                    <span class="a5e-header-shield__label">
                        {{ localize "A5E.ProficiencyBonusAbbr" }}
                    </span>
                </div>

                <div class="a5e-header-shield">
                    <input
                        class="a5e-input a5e-input--level"
                        name="data.details.prestige"
                        type="number"
                        data-dtype="Number"
                        min=1
                        value="{{ data.details.prestige }}"
                    />

                    <span class="a5e-header-shield__label">
                        {{localize "A5E.Prestige"}}
                    </span>
                </div>
            </div>
        </div>

        <div class="u-flex u-flex-wrap u-gap-md">
            <div class="u-flex u-gap-md u-align-center ">
                <h2 class="u-font-sans-serif u-text-bold u-text-sm u-w-fit">
                    {{ localize "A5E.Size" }}.
                </h2>

                <span>
                    {{#if sizeCategory}}
                        {{ sizeCategory }}
                    {{else}}
                        {{ localize "A5E.None" }}
                    {{/if}}
                </span>

                <i class="a5e-config-button a5e-js-configure-size-category fas fa-cog"></i>
            </div>

            <div class="u-flex u-gap-md u-align-center ">
                <h2 class="u-font-sans-serif u-text-bold u-text-sm u-w-fit">
                    {{ localize "A5E.Heritage" }}.
                </h2>

                <span>
                    {{#if data.details.heritage}}
                        {{ data.details.heritage }}
                    {{else}}
                        {{ localize "A5E.None" }}
                    {{/if}}
                </span>

                <i class="a5e-config-button a5e-js-configure-heritage fas fa-cog"></i>
            </div>

            <div class="u-flex u-gap-md u-align-center ">
                <h2 class="u-font-sans-serif u-text-bold u-text-sm u-w-fit">
                    {{ localize "A5E.Culture" }}.
                </h2>

                <span>
                    {{#if data.details.culture}}
                        {{ data.details.culture }}
                    {{else}}
                        {{ localize "A5E.None" }}
                    {{/if}}
                </span>

                <i class="a5e-config-button a5e-js-configure-culture fas fa-cog"></i>
            </div>

            <div class="u-flex u-gap-md u-align-center ">
                <h2 class="u-font-sans-serif u-text-bold u-text-sm u-w-fit">
                    {{ localize "A5E.Background" }}.
                </h2>

                <span>
                    {{#if data.details.background}}
                        {{ data.details.background }}
                    {{else}}
                        {{ localize "A5E.None" }}
                    {{/if}}
                </span>

                <i class="a5e-config-button a5e-js-configure-background fas fa-cog"></i>
            </div>
        </div>

        <div class="u-flex u-gap-md u-align-center ">
            <h2 class="u-font-sans-serif u-text-bold u-text-sm u-w-fit">
                {{ localize "A5E.MovementSpeed" }}.
            </h2>

            {{#if movement}}
                <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-gap-sm">
                    {{#each movement}}
                        <li class="a5e-tag a5e-tag--light">{{ this.name }} - {{ this.speed }}
                            {{ localize "A5E.MeasurementFeetAbbr" }}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}

            <i class="a5e-config-button a5e-js-configure-movement fas fa-cog"></i>
        </div>

        <ul class="u-flex u-font-serif u-gap-md u-list-style-none u-m-0 u-pl-0">
            <li class="
                u-align-center
                u-bg-gray
                u-flex
                u-flex-col
                u-justify-space-between
                u-py-xs u-rounded
                u-w-full
            ">
                <h4 class="u-text-lg">{{ localize "A5E.ArmorClassAbbr" }}</h4>

                <input
                    class="a5e-ability-score__value a5e-ability-score__value--ac"
                    name="data.attributes.ac"
                    type="number"
                    value="{{data.attributes.ac}}"
                    placeholder="10"
                    data-dtype="Number"
                />
            </li>

            <li class="
                u-align-center
                u-bg-gray
                u-flex
                u-flex-col
                u-justify-space-between
                u-py-xs u-rounded
                u-w-full
            ">
                <h4 class="u-text-lg">{{ localize "A5E.Initiative" }}</h4>

                <i class="a5e-initiative-button a5e-js-roll-initiative fas fa-dice-d20"></i>

                <div class="a5e-ability-score__buttons a5e-ability-score__buttons--centre">
                    <i
                        class="a5e-config-button a5e-js-configure-initiative fas fa-cog"
                        data-ability="{{ key }}"
                        title="{{ localize 'A5E.ConfigureBonuses' }}"
                    ></i>
                </div>
            </li>

            {{#each data.abilities as |ability key|}}
                {{> "systems/a5e/templates/actors/partials/ability-score.hbs" actor=actor ability=ability key=key }}
            {{/each}}
        </ul>
    </header>

    <nav
        class="u-flex"
        data-group="main"
    >
        <a
            class="
                a5e-tab
                {{#if (eq currentTab 'attributes')}}a5e-tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="attributes"
        >
            {{ localize "A5E.TabAttributes" }}
        </a>

        <a
            class="
                a5e-tab
                {{#if (eq currentTab 'inventory')}}a5e-tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="inventory"
        >
            {{ localize "A5E.TabInventory" }}
        </a>

        <a
            class="
                a5e-tab
                {{#if (eq currentTab 'features')}}a5e-tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="features"
        >
            {{ localize "A5E.TabFeatures" }}
        </a>

        <a
            class="
                a5e-tab
                {{#if (eq currentTab 'maneuvers')}}a5e-tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="maneuvers"
        >
            {{ localize "A5E.TabManeuvers" }}
        </a>

        <a
            class="
                a5e-tab
                {{#if (eq currentTab 'spells')}}a5e-tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="spells"
        >
            {{ localize "A5E.TabSpells" }}
        </a>

        <a
            class="
                a5e-tab
                {{#if (eq currentTab 'biography')}}a5e-tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="biography"
        >
            {{ localize "A5E.TabBiography" }}
        </a>

        <a
            class="
                a5e-tab
                {{#if (eq currentTab 'journal')}}a5e-tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="journal"
        >
            {{ localize "A5E.TabJournal" }}
        </a>

        <div class="u-border-b u-border-gray u-w-full"></div>
    </nav>

    <section class="u-h-full u-overflow-y-hidden">
        {{>
            "systems/a5e/templates/actors/tabs/attributes.hbs"
            actorType=actor.type
            movement=movement
            senses=senses
            data=data
            currentTab=currentTab
        }}

        {{>
            "systems/a5e/templates/actors/tabs/inventory.hbs"
            actorType=actor.type
            attunement=data.attributes.attunement
            currency=data.currency
            filters=filters
            items=items.inventory
            currentTab=currentTab
            expandedFilterCategories=expandedFilterCategories
        }}

        {{>
            "systems/a5e/templates/actors/tabs/features.hbs"
            items=items.features
            currentTab=currentTab
            expandedFilterCategories=expandedFilterCategories
        }}

        {{>
            "systems/a5e/templates/actors/tabs/maneuvers.hbs"
            exertion=data.attributes.exertion
            filters=filters
            items=items.maneuvers
            maneuverDC=data.attributes.maneuverDC
            currentTab=currentTab
            expandedFilterCategories=expandedFilterCategories
        }}

        {{>
            "systems/a5e/templates/actors/tabs/spells.hbs"
            availableSpellLevels=availableSpellLevels
            currentTab=currentTab
            filters=filters
            items=items.spells
            showSpellSlots=showSpellSlots
            showSpellPoints=showSpellPoints
            spellResources=data.spellResources
            expandedFilterCategories=expandedFilterCategories
        }}

        {{>
            "systems/a5e/templates/actors/tabs/bio.hbs"
            details=data.details
            currentTab=currentTab
        }}

        <section
            class="
                a5e-sheet__tab-content
                a5e-sheet__tab-content--journal
                u-h-full u-overflow-y-auto
                {{#unless (eq currentTab 'journal')}}a5e-sheet__tab-content--hidden{{/unless}}
                a5e-js-sheet-page
                a5e-js-journal-scroll-area
            "
            data-group="main"
            data-tab="journal"
        >
            <h3 class="u-border-none u-font-serif u-text-lg u-w-full">
                {{localize "A5E.DetailsNotes"}}
            </h3>

            {{ editor content=data.details.notes target="data.details.notes" button=true owner=true editable=true }}
        </section>
    </section>
</form>
