<form
    class="a5e-sheet__form"
    autocomplete="off"
>
    <header class="a5e-sheet-header a5e-sheet-header--limited">
        <div class="a5e-sheet-header__left">
            <img
                src="{{actor.img}}"
                title="{{actor.name}}"
                data-edit="img"
                class="a5e-image a5e-image--actor-header"
            />
        </div>

        <div class="a5e-sheet-header__primary-details a5e-sheet-header__primary-details--limited">
            <div class="u-flex-grow">
                <h1 class="a5e-heading a5e-heading--name">{{actor.name}}</h1>
            </div>
        </div>
    </header>

    <section class="u-h-full u-overflow-y-hidden u-px-xl">
        <div class="u-h-full u-overflow-y-auto a5e-js-journal-scroll-area">
            {{{ data.details.bio }}}
        </div>
    </section>

    <!-- {{!-- Sheet Body --}}
    <section class="sheet-body">
        <div class="tab biography">
            {{editor content=data.details.biography.value target="data.details.biography.value" button=true owner=owner editable=editable rollData=rollData}}
        </div>
    </section> -->
</form>
