<form
    class="a5e-sheet__form"
    autocomplete="off"
>
    <header class="a5e-sheet-header">
        <div class="a5e-sheet-header__left">
            <img
                src="{{actor.img}}"
                title="{{actor.name}}"
                data-edit="img"
                class="a5e-image a5e-image--actor-header"
            />

            <div
                class="a5e-track a5e-track--fatigue a5e-js-track"
                data-track="fatigue"
            >
                <i class="
                    a5e-track__icon
                    {{#if data.attributes.fatigue}}a5e-track__icon--level-{{data.attributes.fatigue}}{{/if}}
                    fas
                    fa-running
                "></i>

                <ul class="a5e-track__list">
                    {{#range 8 }}
                        <li
                            class="
                          a5e-track__list-item
                          {{#if (eq ../data.attributes.fatigue this)}}a5e-track__list-item--selected{{/if}}
                          a5e-js-track-item
                      "
                            data-degree="{{this}}"
                        >
                            {{this}}
                        </li>
                    {{/range}}
                </ul>

                <div class="a5e-tooltip a5e-tooltip--track a5e-tooltip--obstacle-left">
                    {{localize "A5E.Fatigue"}}
                </div>
            </div>

            <div
                class="a5e-track a5e-track--strife a5e-js-track"
                data-track="strife"
            >
                <i class="
              a5e-track__icon
              {{#if data.attributes.strife}}a5e-track__icon--level-{{data.attributes.strife}}{{/if}}
              fas
              fa-brain
          "></i>

                <ul class="a5e-track__list">
                    {{#range 8 }}
                        <li
                            class="
                                a5e-track__list-item
                                {{#if (eq ../data.attributes.strife this)}}a5e-track__list-item--selected{{/if}}
                                a5e-js-track-item
                            "
                            data-degree="{{this}}"
                        >
                            {{this}}
                        </li>
                    {{/range}}
                </ul>

                <div class="a5e-tooltip a5e-tooltip--track a5e-tooltip--obstacle-left">
                    {{localize "A5E.Strife"}}
                </div>
            </div>

            {{> "systems/a5e/templates/actors/partials/health.hbs" hp=data.attributes.hp }}
        </div>

        <div class="a5e-flex-container a5e-u-flex-wrap">
            <div class="a5e-flex-container a5e-flex-container--align-center">
                <h2 class="a5e-heading a5e-heading--small">
                    {{ localize "A5E.Size" }}.
                </h2>

                <span>
                    {{#if sizeCategory}}
                        {{ sizeCategory }}
                    {{else}}
                        {{ localize "A5E.None" }}
                    {{/if}}
                </span>

                <i class="a5e-config-button a5e-js-configure-size-category fas fa-cog"></i>
            </div>

            <div class="a5e-flex-container a5e-flex-container--align-center">
                <h2 class="a5e-heading a5e-heading--small">
                    {{ localize "A5E.CreatureTypesLabel" }}.
                </h2>

                {{#if creatureTypes.length}}
                    <ul class="a5e-tag-group a5e-tag-group--small">
                        {{#each creatureTypes}}
                            <li class="a5e-tag a5e-tag--small">
                                {{ localize this}}
                            </li>
                        {{/each}}
                    </ul>
                {{else}}
                    <span>
                        {{ localize "A5E.None" }}

                    </span>
                {{/if}}

                <i class="a5e-config-button a5e-js-configure-creature-types fas fa-cog"></i>
            </div>
        </div>

        <div class="a5e-flex-container a5e-flex-container--align-center">
            <h2 class="a5e-heading a5e-heading--small">
                {{ localize "A5E.MovementSpeed" }}.
            </h2>

            {{#if movement}}
                <ul class="a5e-tag-group a5e-tag-group--tight">
                    {{#each movement}}
                        <li class="a5e-tag a5e-tag--light">{{ this.name }} - {{ this.speed }}
                            {{ localize "A5E.MeasurementFeetAbbr" }}
                        </li>
                    {{/each}}
                </ul>
            {{/if}}

            <i class="a5e-config-button a5e-js-configure-movement fas fa-cog"></i>
        </div>

        <div class="a5e-sheet-header__primary-details">
            <div class="a5e-sheet-header__name-container a5e-sheet-header__name-container--npc">
                <input
                    type="text"
                    name="name"
                    data-dtype="String"
                    value="{{actor.name}}"
                    class="a5e-input a5e-input--character-name"
                    placeholder="Name"
                />
            </div>

            <div class="a5e-sheet-header__shields">
                <div class="a5e-header-shield">
                    <input
                        class="a5e-input a5e-input--cr"
                        name="data.details.cr"
                        type="text"
                        value="{{ labels.cr }}"
                    />

                    <span class="a5e-header-shield__label">
                        {{localize "A5E.ChallengeRatingAbbr"}}
                    </span>
                </div>

                <div class="a5e-header-shield">
                    +{{data.attributes.prof}}
                    <span class="a5e-header-shield__label">
                        {{ localize "A5E.ProficiencyBonusAbbr" }}
                    </span>
                </div>
            </div>
        </div>

        <ul class="a5e-primary-attributes">
            <li class="a5e-ability-score a5e-box">
                <h4 class="a5e-ability-score__label">{{ localize "A5E.ArmorClassAbbr" }}</h4>

                <input
                    class="a5e-ability-score__value a5e-ability-score__value--ac"
                    name="data.attributes.ac"
                    type="number"
                    value="{{data.attributes.ac}}"
                    placeholder="10"
                    data-dtype="Number"
                />
            </li>

            <li class="a5e-ability-score a5e-box">
                <h4 class="a5e-ability-score__label">{{ localize "A5E.Initiative" }}</h4>

                <i class="a5e-initiative-button a5e-js-roll-initiative fas fa-dice-d20"></i>

                <div class="a5e-ability-score__buttons a5e-ability-score__buttons--centre">
                    <i
                        class="a5e-config-button a5e-js-configure-initiative fas fa-cog"
                        data-ability="{{ key }}"
                        title="{{ localize 'A5E.ConfigureBonuses' }}"
                    ></i>
                </div>
            </li>

            {{#each data.abilities as |ability key|}}
                {{> "systems/a5e/templates/actors/partials/ability-score.hbs" actor=actor ability=ability key=key }}
            {{/each}}
        </ul>
    </header>

    <nav
        class="a5e-sheet-tabs"
        data-group="main"
    >
        <a
            class="
                a5e-sheet-tabs__tab
                {{#if (eq currentTab 'core')}}a5e-sheet-tabs__tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="core"
        >
            {{ localize "A5E.TabCoreFeatures" }}
        </a>

        <a
            class="
                a5e-sheet-tabs__tab
                {{#if (eq currentTab 'attributes')}}a5e-sheet-tabs__tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="skills"
        >
            {{ localize "A5E.TabSkills" }}
        </a>

        <a
            class="
                a5e-sheet-tabs__tab
                {{#if (eq currentTab 'inventory')}}a5e-sheet-tabs__tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="inventory"
        >
            {{ localize "A5E.TabInventory" }}
        </a>

        <a
            class="
                a5e-sheet-tabs__tab
                {{#if (eq currentTab 'spells')}}a5e-sheet-tabs__tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="spells"
        >
            {{ localize "A5E.TabSpells" }}
        </a>

        <a
            class="
                a5e-sheet-tabs__tab
                {{#if (eq currentTab 'notes')}}a5e-sheet-tabs__tab--active{{/if}}
                a5e-js-sheet-tab
            "
            data-tab="notes"
        >
            {{ localize "A5E.TabNotes" }}
        </a>

        <div class="a5e-sheet-tabs__filler"></div>

    </nav>

    <section class="a5e-sheet__body-container">
        {{>
            "systems/a5e/templates/actors/tabs/core.hbs"
            features=items.features
            objects=items.inventory
            weapons=items.weapons
            senses=senses
            data=data
            currentTab=currentTab
        }}

        {{>
            "systems/a5e/templates/actors/tabs/inventory.hbs"
            actorType=actor.type
            attunement=data.attributes.attunement
            currency=data.currency
            filters=filters
            items=items.inventory
            currentTab=currentTab
            expandedFilterCategories=expandedFilterCategories
        }}

        <section
            class="
                a5e-sheet__tab-content
                a5e-sheet__tab-content--skills
                a5e-scroll-container
                {{#unless (eq currentTab 'skills')}}a5e-sheet__tab-content--hidden{{/unless}}
                a5e-js-sheet-page
                a5e-js-skills-scroll-area
            "
            data-group="main"
            data-tab="skills"
        >
            <ul class="a5e-skill-container a5e-skill-container--triple">
                {{#each data.skills as |skill key|}}
                    {{>
                        "systems/a5e/templates/actors/partials/skill.hbs"
                        skill=skill
                        key=key
                    }}
                {{/each}}
            </ul>
        </section>

        {{>
            "systems/a5e/templates/actors/tabs/spells.hbs"
            availableSpellLevels=availableSpellLevels
            currentTab=currentTab
            filters=filters
            items=items.spells
            showSpellSlots=showSpellSlots
            showSpellPoints=showSpellPoints
            spellResources=data.spellResources
            expandedFilterCategories=expandedFilterCategories
        }}

        <section
            class="
                a5e-sheet__tab-content
                a5e-sheet__tab-content--npc-notes
                a5e-scroll-container
                {{#unless (eq currentTab 'notes')}}a5e-sheet__tab-content--hidden{{/unless}}
                a5e-js-sheet-page
                a5e-js-notes-scroll-area
            "
            data-group="main"
            data-tab="notes"
        >
            <div class="a5e-u-flex a5e-u-flex--column">
                <h3 class="a5e-heading">{{localize "A5E.DetailsNotes"}}</h3>

                {{
                    editor
                    content=data.details.bio
                    target="data.details.bio"
                    button=true owner=true editable=true
                }}
            </div>

            <div class="a5e-u-flex a5e-u-flex--column">
                <h3 class="a5e-heading">{{localize "A5E.DetailsNotesPrivate"}}</h3>

                {{
                    editor
                    content=data.details.privateNotes
                    target="data.details.privateNotes"
                    button=true owner=true editable=true
                }}
            </div>
        </section>
    </section>
</form>
