<div class="a5e-box a5e-box--padded">
    <div class="a5e-form__section a5e-form__section--inline a5e-form__section--reduced-margin">
        <h3 class="a5e-form__input-label a5e-form__input-label--inline">
            {{ localize "A5E.AttackType" }}
        </h3>

        <div class="a5e-input-container a5e-input-container--inline">
            <select
                class="a5e-select"
                name="data.attack.type"
                data-dtype="String"
            >
                {{#select data.attack.type}}
                    {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="a5e-form__section a5e-form__section--inline a5e-form__section--reduced-margin">
        <h3 class="a5e-form__input-label a5e-form__input-label--inline">
            {{ localize "A5E.AttackBonus" }}
        </h3>

        <div class="a5e-input-container a5e-input-container--inline">
            <input
                class="a5e-input a5e-input--inline a5e-input--slim"
                type="text"
                name="data.attack.bonus"
                value="{{data.attack.bonus}}"
                data-dtype="String"
            />
        </div>
    </div>

    <div class="a5e-form__section a5e-form__section--inline a5e-form__section--reduced-margin">
        <h3 class="a5e-form__input-label a5e-form__input-label--inline">
            {{ localize "A5E.CriticalHitThreshold" }}
        </h3>

        <div class="a5e-input-container a5e-input-container--inline">
            <input
                class="a5e-input a5e-input--inline a5e-input--slim"
                type="number"
                name="data.attack.critThreshold"
                value="{{data.attack.critThreshold}}"
                data-dtype="Number"
                placeholder="20"
                min="1"
                max="20"
            />
        </div>
    </div>

    <div class="a5e-form__section a5e-form__section--inline a5e-form__section--no-margin">
        <label class="a5e-form__input-label a5e-form__input-label--inline">
            {{ localize "A5E.AddProficiency"}}
        </label>

        <div class="a5e-input-container a5e-input-container--inline-wide">
            <input
                type="checkbox"
                name="data.proficient"
                data-dtype="Boolean"
                {{checked
                data.attack.critThreshold}}
            />
        </div>
    </div>
</div>
