{{#each data.healing}}
    <div class="a5e-box u-p-md">
        <div class="a5e-form__section a5e-form__section--inline a5e-form__section--reduced-margin">
            <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
                {{ localize "A5E.HealingLabel" }}
            </h3>

            <div class="a5e-input-container a5e-input-container--inline">
                <input
                    class="a5e-input a5e-input--inline a5e-input--slim"
                    type="text"
                    name="data.healing.{{@index}}.name"
                    value="{{lookup this 'name'}}"
                    data-dtype="String"
                />
            </div>
        </div>

        <div class="a5e-form__section a5e-form__section--inline a5e-form__section--reduced-margin">
            <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
                {{ localize "A5E.HealingType" }}
            </h3>

            <div class="a5e-input-container a5e-input-container--inline">
                <select
                    class="u-w-full"
                    name="data.healing.{{@index}}.healingType"
                >
                    {{#select (lookup this 'healingType')}}
                        <option value=""></option>

                        {{#each ../config.healingTypes as |healingType key|}}
                            <option value="{{key}}">{{localize healingType}}</option>
                        {{/each}}
                    {{/select}}
                </select>
            </div>
        </div>

        <div class="a5e-form__section a5e-form__section--inline a5e-form__section--reduced-margin">
            <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
                {{ localize "A5E.HealingFormula" }}
            </h3>

            <div class="a5e-input-container a5e-input-container--inline-wide">
                <input
                    class="a5e-input a5e-input--slim"
                    type="text"
                    name="data.healing.{{@index}}.formula"
                    value="{{lookup this 'formula'}}"
                    data-dtype="String"
                />
            </div>
        </div>

        <div class="a5e-form__section a5e-form__section--inline a5e-form__section--no-margin">
            <a
                class="a5e-button a5e-button--add-item a5e-button--right a5e-button--red a5e-js-delete-healing-source"
                data-index="{{@index}}"
            >
                {{localize "A5E.HealingDeleteSource"}}
            </a>
        </div>

    </div>
{{/each}}

<a class="a5e-button a5e-button--add-item a5e-button--right a5e-js-add-healing-source">
    + {{localize "A5E.HealingAddSource"}}
</a>
