<div class="a5e-box u-p-md">
    <div class="
    a5e-form__section
    a5e-form__section--inline
    {{#unless (eq item.data.range.category 'other')}}a5e-form__section--no-margin{{/unless}}
  ">
        <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
            {{ localize "A5E.ItemRange" }}
        </h3>

        <div class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-align-self-end">
            {{#each config.rangeDescriptors as |name key|}}
                <input
                    class="u-hidden"
                    type="radio"
                    name="data.range.category"
                    value="{{key}}"
                    id="{{../item._id}}-range-{{key}}"
                    {{#if
                    (eq
                    ../item.data.range.category
                    key)}}checked{{/if}}
                >

                <label
                    class="
            a5e-tag
            u-pointer
            {{#unless (eq ../item.data.range.category key)}}a5e-tag--inactive{{/unless}}
          "
                    for="{{../item._id}}-range-{{key}}"
                >
                    {{localize name}}
                    {{#if (eq key "short")}} ( {{../config.rangeValues.short}} ft ){{/if}}
                        {{#if (eq key "medium")}} ( {{../config.rangeValues.medium}} ft ){{/if}}
                            {{#if (eq key "long")}} ( {{../config.rangeValues.long}} ft ){{/if}}
                </label>
            {{/each}}
        </div>
    </div>

    {{#if (eq item.data.range.category "other") }}
        <div class="a5e-form__section a5e-form__section--inline a5e-form__section--no-margin">
            <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
                {{localize 'A5E.ItemRangeCustom'}}
            </h3>

            <div class="a5e-input-container a5e-input-container--inline">
                <input
                    class="a5e-input a5e-input--slim"
                    type="text"
                    name="data.range.custom"
                    value="{{item.data.range.custom}}"
                >
            </div>
        </div>
    {{/if}}
</div>
