<div class="a5e-box u-p-md">
    <div class="
        a5e-form__section
        a5e-form__section--inline
        {{#unless (eq item.data.target.type 'area')}}a5e-form__section--no-margin{{/unless}}
    ">
        <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
            {{ localize "A5E.ItemTarget" }}
        </h3>

        <div class="a5e-input-container a5e-input-container--inline">
            <select
                class="u-w-full"
                name="data.target.type"
            >
                {{#select data.target.type}}
                    <option value=""></option>

                    {{#each config.targetTypes as |name key|}}
                        <option value="{{key}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    {{#if (eq item.data.target.type "area") }}
        <div class="a5e-form__section">
            <div class="u-align-center u-flex u-gap-xl u-text-md">
                {{#each config.areaTypes as |name key|}}
                    <input
                        class="u-hidden"
                        type="radio"
                        name="data.target.shape"
                        value="{{key}}"
                        id="{{../item._id}}-shape-{{key}}"
                        {{#if
                        (eq
                        ../item.data.target.shape
                        key)}}checked{{/if}}
                    >

                    <label
                        class="a5e-radio-group__button a5e-radio-group__button--area-templates"
                        for="{{../item._id}}-shape-{{key}}"
                    >
                        {{{ lookup ../config.areaIcons key }}}
                        {{localize name}}
                    </label>
                {{/each}}
            </div>
        </div>

        <div class="a5e-form__section a5e-form__section--inline a5e-form__section--no-margin">
            <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
                {{localize 'A5E.ItemAreaSize'}}
            </h3>

            <div class="a5e-input-container a5e-input-container--inline">
                <input
                    class="a5e-input a5e-input--slim"
                    type="text"
                    name="data.target.size"
                    value="{{item.data.target.size}}"
                >
            </div>
        </div>
    {{/if}}
</div>
