<form
    class="u-flex u-flex-col u-h-full u-bg-sheet"
    autocomplete="off"
>
    <header class="a5e-sheet-header a5e-sheet-header--item">
        <img
            class="a5e-image a5e-image--item-header"
            src="{{item.img}}"
            title="{{item.name}}"
            data-edit="img"
        />

        <div class="u-flex-grow">
            <input
                class="a5e-input a5e-input--character-name"
                name="name"
                type="text"
                value="{{item.name}}"
                placeholder="{{ localize 'A5E.ItemNew' }}"
            />
        </div>
    </header>

    <nav
        class="u-flex"
        data-group="item-{{item._id}}"
    >
        <a
            class="
                a5e-tab
                a5e-js-sheet-tab
                {{#if (eq currentTab 'description')}}a5e-tab--active{{/if}}
            "
            data-tab="description"
        >
            {{ localize "A5E.Description" }}
        </a>

        <a
            class="
                a5e-tab
                a5e-js-sheet-tab
                {{#if (eq currentTab 'maneuverProperties')}}a5e-tab--active{{/if}}
            "
            data-tab="maneuverProperties"
        >
            {{ localize "A5E.TabManeuverProperties" }}
        </a>

        <a
            class="
                a5e-tab
                a5e-js-sheet-tab
                {{#if (eq currentTab 'details')}}a5e-tab--active{{/if}}
            "
            data-tab="details"
        >
            {{ localize "A5E.TabDetails" }}
        </a>

        <div class="u-border-b u-border-gray u-w-full"></div>
    </nav>

    <section class="u-overflow-y-hidden u-h-full a5e-js-sheet-body">
        <section
            class="
                u-gap-md
                u-grid
                u-h-full
                u-p-lg
                u-overflow-y-auto
                {{#unless (eq currentTab 'description')}}u-hidden{{/unless}}
                a5e-js-sheet-page
                a5e-js-item-description-scroll-area
            "
            data-group="item-{{item._id}}"
            data-tab="description"
        >
            {{ editor content=data.description target="data.description" button=true owner=true editable=true }}
        </section>

        {{> "systems/a5e/templates/items/tabs/maneuver-properties.hbs" config=config currentTab=currentTab item=item}}
        {{> "systems/a5e/templates/items/tabs/details.hbs" config=config currentTab=currentTab item=item}}
    </section>
</form>
