<form>
  <h3> {{ localize "A5E.settings.automateConditions" }}</h3>
  <p> {{ localize "A5E.settings.hints.automateConditions" }}</p>
  {{#each this}}
    <div>
      <input

        id="{{ @key }}"
        name="conditions"
        value="{{ @key }}"
        {{checked
        this.checked}}
      >
      <label for="{{ @key }}">{{this.label}}</label>
    </div>
  {{/each}}

  <button
    type="submit"
    name="submit"
  >
    <i class="far fa-save"></i> Save
  </button>
</form>
