<section
    class="
        a5e-js-sheet-page
        a5e-sheet__tab-content
        a5e-sheet__tab-content--object-properties
        {{#unless (eq currentTab 'armorProperties')}}u-hidden{{/unless}}
        u-h-full u-overflow-y-auto
        a5e-js-armor-properties-scroll-area
    "
    data-group="item-{{item._id}}"
    data-tab="armorProperties"
>
    <div class="a5e-box u-p-md a5e-form__section a5e-form__section--no-margin">
        <h3 class="u-text-bold u-text-sm">{{ localize "A5E.ArmorCategory" }}</h3>

        <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs">
            {{#each config.armor as | category key |}}
                {{#unless (eq key 'shield')}}
                    <li
                        class="
                            a5e-tag
                            .u-pointer
                            {{#unless (eq ../item.data.armorCategory key)}}a5e-tag--inactive{{/unless}}
                            a5e-js-select-armor-category
                        "
                        data-armor-category="{{key}}"
                    >
                        {{ localize category }}
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>

    <div class="a5e-box u-p-md a5e-form__section a5e-form__section--no-margin">
        <h3 class="u-text-bold u-text-sm">{{ localize "A5E.ArmorProperties" }}</h3>

        <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs">
            {{#each config.armorProperties as | property key |}}
                <li
                    class="
                        a5e-tag
                        .u-pointer
                        {{#unless (contains ../item.data.armorProperties key)}}a5e-tag--inactive{{/unless}}
                        a5e-js-toggle-armor-properties
                    "
                    data-armor-property="{{key}}"
                >
                    {{ localize property }}
                </li>
            {{/each}}
        </ul>
    </div>
</section>
