<section
    class="
        u-flex
        u-flex-col
        u-gap-md
        u-h-full
        u-overflow-y-auto
        u-p-lg
        {{#unless (eq currentTab 'spellProperties')}}u-hidden{{/unless}}
        a5e-js-sheet-page
        a5e-js-spell-properties-scroll-area
    "
    data-group="item-{{item._id}}"
    data-tab="spellProperties"
>
    <div
        class="a5e-box u-p-md a5e-form__section a5e-form__section--inline a5e-form__section--no-margin">
        <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
            {{ localize "A5E.SpellLevel" }}
        </h3>

        <div class="a5e-input-container a5e-input-container--inline">
            <select
                class="u-w-full"
                name="data.level"
                data-dtype="Number"
            >
                {{#select data.level}}
                    {{#each config.spellLevels as |name lvl|}}
                        <option value="{{lvl}}">{{localize name}}</option>
                    {{/each}}
                {{/select}}
            </select>
        </div>
    </div>

    <div class="a5e-box u-p-md">
        <div class="
            a5e-form__section
            a5e-form__section--inline
            {{#unless item.data.components.material}}a5e-form__section--no-margin{{/unless}}
        ">
            <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
                {{ localize "A5E.SpellComponents" }}
            </h3>

            <ul class="
                u-flex
                u-flex-wrap
                u-font-san-serif
                u-gap-md
                u-list-style-none
                u-m-0
                u-p-0
                u-text-xs
                u-align-self-end
            ">
                <li
                    class="
                        a5e-tag
                        .u-pointer
                        {{#unless item.data.components.vocalized }}a5e-tag--inactive{{/unless}}
                        a5e-js-toggle-spell-component
                    "
                    data-component="vocalized"
                >
                    {{ localize "A5E.SpellComponentVocalized" }}
                </li>

                <li
                    class="
                        a5e-tag
                        .u-pointer
                        {{#unless item.data.components.seen }}a5e-tag--inactive{{/unless}}
                        a5e-js-toggle-spell-component
                    "
                    data-component="seen"
                >
                    {{ localize "A5E.SpellComponentSeen" }}
                </li>

                <li
                    class="
                        a5e-tag
                        .u-pointer
                        {{#unless item.data.components.material }}a5e-tag--inactive{{/unless}}
                        a5e-js-toggle-spell-component
                    "
                    data-component="material"
                >
                    {{ localize "A5E.SpellComponentMaterial" }}
                </li>

                <li class="
                    a5e-tag
                    .u-pointer
                    {{#unless item.data.concentration }}a5e-tag--inactive{{/unless}}
                    a5e-js-toggle-concentration-requirement
                ">
                    {{ localize "A5E.SpellConcentration" }}
                </li>

                <li class="
                    a5e-tag
                    .u-pointer
                    {{#unless item.data.ritual }}a5e-tag--inactive{{/unless}}
                    a5e-js-toggle-ritual-tag
                ">
                    {{ localize "A5E.SpellRitual" }}
                </li>
            </ul>
        </div>

        {{#if item.data.components.material }}
            <div class="a5e-form__section a5e-form__section--inline a5e-form__section--no-margin">
                <h3 class="u-text-bold u-text-sm u-flex-shrink-0 u-mb-0">
                    {{localize "A5E.SpellMaterials"}}
                </h3>

                <div class="a5e-input-container a5e-input-container--inline-wide">
                    <input
                        class="a5e-input a5e-input--slim"
                        type="text"
                        name="data.materials"
                        value="{{item.data.materials}}"
                    >
                </div>
            </div>
        {{/if}}
    </div>

    {{> "systems/a5e/templates/items/partials/primary-spell-school.hbs" config=config item=item}}
    {{> "systems/a5e/templates/items/partials/secondary-spell-schools.hbs" config=config item=item}}
</section>
