<li class="u-align-center u-bg-gray u-flex u-flex-col u-font-serif u-py-xs u-rounded u-w-full">
    <h4 class="u-text-lg">{{ ability.label }}</h4>

    <input
        class="a5e-ability-score__value"
        name="data.abilities.{{key}}.value"
        type="number"
        value="{{ability.value}}"
        placeholder="10"
    />

    <div class="a5e-ability-score__buttons">
        <div
            class="a5e-ability-score__roll-button a5e-js-roll-ability-check"
            data-ability="{{ key }}"
            title="{{ localize 'A5E.RollAbilityCheck' }}"
        >
            {{ ability.check.deterministicBonus }}

            <div class="a5e-tooltip a5e-tooltip--ability-score">
                {{ localize 'A5E.RollAbilityCheck' }}
            </div>
        </div>

        <i
            class="a5e-config-button a5e-js-configure-ability-score fas fa-cog"
            data-ability="{{ key }}"
            title="{{ localize 'A5E.ConfigureBonuses' }}"
        ></i>

        <div
            class="a5e-ability-score__roll-button a5e-js-roll-saving-throw"
            data-ability="{{ key }}"
            title="{{ localize 'A5E.RollSavingThrow' }}"
        >
            {{ ability.save.deterministicBonus }}

            <div class="
                a5e-tooltip
                a5e-tooltip--ability-score
                {{#if (eq key 'cha')}}a5e-tooltip--obstacle-right{{/if}}
            ">
                {{ localize 'A5E.RollSavingThrow' }}
            </div>
        </div>
    </div>
</li>
