<div
    class="{{#unless (contains expandedFilterCategories filterCategory)}}u-hidden{{/unless}}"
    data-filter-category="{{filterCategory}}"
>
    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
        {{#each config.abilityActivationTypes as | activationCost key |}}
            {{#unless (eq key "lairAction")}}
                {{#unless (eq key "legendaryAction")}}
                    <li
                        class="
                            a5e-tag
                            a5e-tag--tight
                            .u-pointer
                            {{#if (contains ../inclusiveFilters key)}}''
                            {{else if (contains ../exclusiveFilters key)}}
                                a5e-tag--red
                            {{else}}
                                a5e-tag--inactive
                            {{/if}}
                            a5e-js-toggle-filter
                        "
                        data-item-type="{{../itemType}}"
                        data-category="activationCost"
                        data-value="{{key}}"
                    >
                        {{localize activationCost}}
                    </li>
                {{/unless}}
            {{/unless}}
        {{/each}}
    </ul>
</div>
