<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'core')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="core"
>
    {{ localize "A5E.TabCoreFeatures" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'attributes')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="skills"
>
    {{ localize "A5E.TabSkills" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'inventory')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="inventory"
>
    {{ localize "A5E.TabInventory" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'spells')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="spells"
>
    {{ localize "A5E.TabSpells" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'notes')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="notes"
>
    {{ localize "A5E.TabNotes" }}
</a>

<div class="a5e-sheet-tabs__filler"></div>
