<section class="u-bg-gray u-flex u-flex-col u-gap-sm u-p-md u-pos-relative u-rounded">
    <h2 class="u-text-bold u-text-sm">
        {{ localize title }}
    </h2>

    <i class="
        a5e-config-button
        a5e-config-button--details
        {{configListener}}
        fas
        fa-cog
    ">
    </i>

    <ul class="
        u-flex
        u-flex-wrap
        u-font-san-serif
        u-gap-sm
        u-list-style-none
        u-m-0
        u-p-0
        u-text-xxs
    ">
        {{#if items.length }}
            {{#each items}}
                <li class="a5e-tag a5e-tag--tight">{{ this }}</li>
            {{/each}}
        {{else}}
            <li class="a5e-tag a5e-tag--tight">{{ localize "A5E.None" }}</li>
        {{/if}}
    </ul>
</section>
