<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'attributes')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
"
    data-tab="attributes"
>
    {{ localize "A5E.TabAttributes" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'inventory')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="inventory"
>
    {{ localize "A5E.TabInventory" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'features')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="features"
>
    {{ localize "A5E.TabFeatures" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'spells')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="spells"
>
    {{ localize "A5E.TabSpells" }}
</a>

<a
    class="
        a5e-sheet-tabs__tab
        {{#if (eq currentTab 'notes')}}a5e-sheet-tabs__tab--active{{/if}}
        a5e-js-sheet-tab
    "
    data-tab="notes"
>
    {{ localize "A5E.TabNotes" }}
</a>

<div class="a5e-sheet-tabs__filler"></div>
