<section
    class="a5e-js-sheet-page a5e-js-attributes-scroll-area a5e-sheet__tab-content a5e-sheet__tab-content--attributes {{#unless (eq currentTab 'attributes')}}a5e-sheet__tab-content--hidden{{/unless}}"
    data-group="main"
    data-tab="attributes"
>
    <div class="a5e-sheet__secondary-details">
        <section class="a5e-details-container a5e-box">
            <h2 class="a5e-heading a5e-heading--details">
                {{ localize "A5E.SensesSpecial" }}
            </h2>

            <i
                class="a5e-config-button a5e-config-button--details a5e-js-configure-senses fas fa-cog">
            </i>

            <ul class="a5e-tag-group a5e-tag-group--small">
                {{#if senses.length}}
                    {{#each senses}}
                        <li class="a5e-tag a5e-tag--small">{{ this.name }} - {{ this.range }}
                            {{ localize "A5E.MeasurementFeetAbbr" }}
                        </li>
                    {{/each}}
                {{else}}
                    <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                {{/if}}
            </ul>
        </section>

        <section class="a5e-details-container a5e-box">
            <h2 class="a5e-heading a5e-heading--details">
                {{ localize "A5E.DamageResistances" }}
            </h2>

            <i class="
                    a5e-config-button
                    a5e-config-button--details
                    a5e-js-configure-damage-resistances
                    fas
                    fa-cog
                ">
            </i>

            <ul class="a5e-tag-group a5e-tag-group--small">
                {{#if damageResistances }}
                    {{#each damageResistances}}
                        <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                    {{/each}}
                {{else}}
                    <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                {{/if}}
            </ul>
        </section>

        <section class="a5e-details-container a5e-box">
            <h2 class="a5e-heading a5e-heading--details">
                {{ localize "A5E.DamageImmunities" }}
            </h2>

            <i class="
                    a5e-config-button
                    a5e-config-button--details
                    a5e-js-configure-damage-immunities
                    fas
                    fa-cog
                ">
            </i>

            <ul class="a5e-tag-group a5e-tag-group--small">
                {{#if damageImmunities }}
                    {{#each damageImmunities}}
                        <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                    {{/each}}
                {{else}}
                    <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                {{/if}}
            </ul>
        </section>

        <section class="a5e-details-container a5e-box">
            <h2 class="a5e-heading a5e-heading--details">
                {{ localize "A5E.DamageVulnerabilities" }}
            </h2>

            <i class="
                    a5e-config-button
                    a5e-config-button--details
                    a5e-js-configure-damage-vulnerabilities
                    fas
                    fa-cog
                ">
            </i>

            <ul class="a5e-tag-group a5e-tag-group--small">
                {{#if damageVulnerabilities }}
                    {{#each damageVulnerabilities}}
                        <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                    {{/each}}
                {{else}}
                    <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                {{/if}}
            </ul>
        </section>

        <section class="a5e-details-container a5e-box">
            <h2 class="a5e-heading a5e-heading--details">
                {{ localize "A5E.ConditionImmunities" }}
            </h2>

            <i class="
                    a5e-config-button
                    a5e-config-button--details
                    a5e-js-configure-condition-immunities
                    fas
                    fa-cog
                ">
            </i>

            <ul class="a5e-tag-group a5e-tag-group--small">
                {{#if conditionImmunities }}
                    {{#each conditionImmunities}}
                        <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                    {{/each}}
                {{else}}
                    <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                {{/if}}
            </ul>
        </section>

        {{#unless (eq actorType "npc")}}
            <section class="a5e-details-container a5e-box">
                <h2 class="a5e-heading a5e-heading--details">
                    {{ localize "A5E.ArmorProficiencies" }}
                </h2>

                <i
                    class="a5e-config-button a5e-config-button--details a5e-js-configure-armor-proficiencies fas fa-cog">
                </i>

                <ul class="a5e-tag-group a5e-tag-group--small">
                    {{#if data.proficiencies.armor.length }}
                        {{#each data.proficiencies.armor}}
                            <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                        {{/each}}
                    {{else}}
                        <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                    {{/if}}
                </ul>
            </section>

            <section class="a5e-details-container a5e-box">
                <h2 class="a5e-heading a5e-heading--details">
                    {{ localize "A5E.WeaponProficiencies" }}
                </h2>

                <i
                    class="a5e-config-button a5e-config-button--details a5e-js-configure-weapon-proficiencies fas fa-cog">
                </i>

                <ul class="a5e-tag-group a5e-tag-group--small">
                    {{#if data.proficiencies.weapons.length}}
                        {{#each data.proficiencies.weapons}}
                            <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                        {{/each}}
                    {{else}}
                        <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                    {{/if}}
                </ul>
            </section>

            <section class="a5e-details-container a5e-box">
                <h2 class="a5e-heading a5e-heading--details">
                    {{ localize "A5E.ToolProficiencies" }}
                </h2>

                <i
                    class="a5e-config-button a5e-config-button--details a5e-js-configure-tools fas fa-cog">
                </i>

                <ul class="a5e-tag-group a5e-tag-group--small">
                    {{#if data.proficiencies.tools.length}}
                        {{#each data.proficiencies.tools}}
                            <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                        {{/each}}
                    {{else}}
                        <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                    {{/if}}
                </ul>
            </section>
        {{/unless}}

        <section class="a5e-details-container a5e-box">
            <h2 class="a5e-heading a5e-heading--details">
                {{ localize "A5E.Languages" }}
            </h2>

            <i
                class="a5e-config-button a5e-config-button--details a5e-js-configure-languages fas fa-cog">
            </i>

            <ul class="a5e-tag-group a5e-tag-group--small">
                {{#if data.proficiencies.languages.length}}
                    {{#each data.proficiencies.languages}}
                        <li class="a5e-tag a5e-tag--small">{{ this }}</li>
                    {{/each}}
                {{else}}
                    <li class="a5e-tag a5e-tag--small">{{ localize "A5E.None" }}</li>
                {{/if}}
            </ul>
        </section>
    </div>

    <div>
        <ul class="a5e-skill-container">
            {{#each data.skills as |skill key|}}
                {{> "systems/a5e/templates/actors/partials/skill.hbs" skill=skill key=key }}
            {{/each}}
        </ul>
    </div>
</section>
