<section
    class="
        a5e-sheet__tab-content
        a5e-sheet__tab-content--core
        u-h-full u-overflow-y-auto
        {{#unless (eq currentTab 'core')}}a5e-sheet__tab-content--hidden{{/unless}}
        a5e-js-sheet-page
        a5e-js-core-features-scroll-area
    "
    data-group="main"
    data-tab="core"
>
    <section class="u-gap-md u-grid u-grid-3 u-h-fit u-span-2">
        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.DamageResistances"
            configListener="a5e-js-configure-damage-resistances"
            items=damageResistances
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.DamageImmunities"
            configListener="a5e-js-configure-damage-immunities"
            items=damageImmunities
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.DamageVulnerabilities"
            configListener="a5e-js-configure-damage-vulnerabilities"
            items=damageVulnerabilities
        }}

        {{> "systems/a5e/templates/actors/partials/senses.hbs" senses=senses }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.ConditionImmunities"
            configListener="a5e-js-configure-condition-immunities"
            items=conditionImmunities
        }}

        {{>
            "systems/a5e/templates/actors/partials/secondary-details.hbs"
            title="A5E.Languages"
            configListener="a5e-js-configure-language-proficiencies"
            items=data.proficiencies.languages
        }}
    </section>

    <section>
        <header
            class="u-border-b u-border-gray u-flex u-justify-space-between u-mb-md u-pb-md u-px-md"
        >
            <h3 class="u-border-none u-font-serif u-text-lg u-w-full u-w-fit">
                {{ localize "A5E.Weapons" }}
            </h3>

            <a class="a5e-button a5e-button--add-item a5e-js-create-weapon">
                + {{localize "A5E.WeaponAdd"}}
            </a>
        </header>

        <ul
            class="u-flex u-flex-col u-gap-sm u-list-style-none u-m-0 u-p-0 u-w-full a5e-js-item-list">
            {{#each weapons}}
                {{#if (eq this.data.objectType "weapon")}}
                    <li
                        class="
                            a5e-box
                            a5e-item
                            {{#if this.data.equipped}}u-bg-light-green{{/if}}
                            a5e-js-item
                        "
                        data-id="{{this._id}}"
                        data-item-id="{{this._id}}"
                        draggable="true"
                    >
                        <img
                            src="{{this.img}}"
                            title="{{this.name}}"
                            class="a5e-image a5e-image--item-inline a5e-js-activate-item"
                        />

                        <span>
                            {{this.name}}
                            {{#if this.showQuantity}}({{this.data.quantity}}){{/if}}
                        </span>

                        {{#if this.data.inlineLabels.length}}
                            <div class="
                                u-flex
                                u-flex-wrap
                                u-font-san-serif
                                u-gap-md
                                u-list-style-none
                                u-m-0
                                u-p-0
                                u-gap-sm
                                u-text-xxs
                                u-ml-auto
                            ">
                                {{#each this.data.inlineLabels}}
                                    <div class="a5e-tag a5e-tag--tight">
                                        {{this}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}

                        <div class="a5e-item__details">
                            <hr class="a5e-rule">

                            {{#if this.data.description}}
                                {{{this.data.description}}}
                            {{else}}
                                {{localize "A5E.NoDescription"}}
                            {{/if}}
                        </div>

                        <div class="a5e-context-menu">
                            <a class="a5e-context-menu__option a5e-js-equip-item">
                                <i class="fas fa-shopping-bag"></i>
                                {{#if this.data.equipped}}
                                    {{localize "A5E.ItemUnequip"}}
                                {{else}}
                                    {{ localize "A5E.ItemEquip" }}
                                {{/if}}
                            </a>

                            <a class="a5e-context-menu__option a5e-js-edit-item">
                                <i class="fas fa-pen"></i>
                                {{ localize "A5E.ItemEdit" }}

                            </a>

                            <hr class="a5e-rule">

                            <a
                                class="a5e-context-menu__option a5e-context-menu__option--delete a5e-js-delete-item">
                                <i class="fas fa-trash"></i>
                                {{ localize "A5E.ItemDelete" }}
                            </a>
                        </div>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
    </section>

    <section>
        <header
            class="u-border-b u-border-gray u-flex u-justify-space-between u-mb-md u-pb-md u-px-md"
        >
            <h3 class="u-border-none u-font-serif u-text-lg u-w-full u-w-fit">
                {{ localize "A5E.TabFeatures" }}
            </h3>

            <a class="a5e-button a5e-button--add-item a5e-js-create-feature-item">
                + {{localize "A5E.FeatureAdd"}}
            </a>
        </header>

        <ul
            class="u-flex u-flex-col u-gap-sm u-list-style-none u-m-0 u-p-0 u-w-full a5e-js-item-list">
            {{#each features}}
                <li
                    class="a5e-item a5e-box a5e-js-item"
                    data-id="{{this._id}}"
                    data-item-id="{{this._id}}"
                    draggable="true"
                >
                    <img
                        src="{{this.img}}"
                        title="{{this.name}}"
                        class="a5e-image a5e-image--item-inline a5e-js-activate-item"
                    />

                    <span>{{this.name}}</span>

                    <div class="a5e-item__details">
                        <hr class="a5e-rule">

                        {{#if this.data.description}}
                            {{{this.data.description}}}
                        {{else}}
                            {{localize "A5E.NoDescription"}}
                        {{/if}}
                    </div>

                    <div class="a5e-context-menu">
                        <a class="a5e-context-menu__option a5e-js-edit-item">
                            <i class="fas fa-pen"></i>
                            {{ localize "A5E.ItemEdit" }}

                        </a>

                        <hr class="a5e-rule">

                        <a
                            class="a5e-context-menu__option a5e-context-menu__option--delete a5e-js-delete-item">
                            <i class="fas fa-trash"></i>
                            {{ localize "A5E.ItemDelete" }}
                        </a>
                    </div>
                </li>
            {{/each}}
        </ul>
    </section>
</section>
