<section
    class="
        a5e-js-sheet-page
        a5e-sheet__tab-content
        {{#if (eq actorType 'npc')}}
            a5e-sheet__tab-content--npc-inventory
        {{else}}
            a5e-sheet__tab-content--inventory
        {{/if}}
        {{#unless (eq currentTab 'inventory')}}a5e-sheet__tab-content--hidden{{/unless}}
    "
    data-group="main"
    data-tab="inventory"
>
    <section
        class="u-w-30 u-flex-shrink-0 u-font-secondary u-flex u-flex-col u-gap-md u-mb-xl u-p-md a5e-box"
    >
        <h2 class="u-border-none u-font-serif u-text-lg u-w-full u-text-center">
            {{ localize "A5E.Filters" }}
        </h2>

        <div class="u-flex u-flex-col u-gap-md u-p-md u-h-full u-overflow-y-auto">
            <div>
                {{>
                    "systems/a5e/templates/actors/partials/filter-header.hbs"
                    heading="A5E.FilterLabelActivationCost"
                    filterCategory="item-activation-cost"
                    expandedFilterCategories=expandedFilterCategories
                    exclusiveCount=filters.itemActivationCost.exclusive.length
                    inclusiveCount=filters.itemActivationCost.inclusive.length
                }}

                {{>
                    "systems/a5e/templates/actors/partials/activation-cost-filter.hbs"
                    heading="A5E.FilterLabelActivationCost"
                    filterCategory="item-activation-cost"
                    itemType="object"
                    expandedFilterCategories=expandedFilterCategories
                    exclusiveFilters=filters.itemActivationCost.exclusive
                    inclusiveFilters=filters.itemActivationCost.inclusive
                }}
            </div>

            <div>
                {{>
                "systems/a5e/templates/actors/partials/filter-header.hbs"
                heading="A5E.FilterLabelRarity"
                filterCategory="item-rarity"
                expandedFilterCategories=expandedFilterCategories
                exclusiveCount=filters.itemRarity.exclusive.length
                inclusiveCount=filters.itemRarity.inclusive.length
            }}

                <div
                    class="{{#unless (contains expandedFilterCategories 'item-rarity')}}u-hidden{{/unless}}"
                    data-filter-category="item-rarity"
                >
                    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
                        {{#each config.itemRarity as | rarity key |}}
                            <li
                                class="
                                    a5e-tag
                                    a5e-tag--tight
                                    .u-pointer
                                    {{#if (contains ../filters.itemRarity.inclusive key)}}''
                                    {{else if (contains ../filters.itemRarity.exclusive key)}}
                                        a5e-tag--red
                                    {{else}}
                                        a5e-tag--inactive
                                    {{/if}}
                                    a5e-js-toggle-filter
                                "
                                data-item-type="object"
                                data-category="rarity"
                                data-value="{{key}}"
                            >
                                {{localize rarity}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div>
                {{>
                "systems/a5e/templates/actors/partials/filter-header.hbs"
                heading="A5E.FilterLabelMiscellaneous"
                filterCategory="item-miscellaneous"
                expandedFilterCategories=expandedFilterCategories
                exclusiveCount=filters.itemMiscellaneous.exclusive.length
                inclusiveCount=filters.itemMiscellaneous.inclusive.length
            }}

                <div
                    class="{{#unless (contains expandedFilterCategories 'item-miscellaneous')}}u-hidden{{/unless}}"
                    data-filter-category="item-miscellaneous"
                >
                    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.itemMiscellaneous.inclusive 'attuned')}}''
                                {{else if (contains filters.itemMiscellaneous.exclusive 'attuned')}}
                                    a5e-tag--red
                                {{else}}
                                    a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="object"
                            data-category="miscellaneous"
                            data-value="attuned"
                        >
                            {{localize "A5E.Attuned"}}
                        </li>

                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.itemMiscellaneous.inclusive 'bulky')}}''
                                {{else if (contains filters.itemMiscellaneous.exclusive 'bulky')}}
                                    a5e-tag--red
                                {{else}}
                                    a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="object"
                            data-category="miscellaneous"
                            data-value="bulky"
                        >
                            {{localize "A5E.ItemBulky"}}
                        </li>

                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.itemMiscellaneous.inclusive 'equipped')}}''
                                {{else if (contains filters.itemMiscellaneous.exclusive 'equipped')}}a5e-tag--red
                                {{else}}a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="object"
                            data-category="miscellaneous"
                            data-value="equipped"
                        >
                            {{localize "A5E.ItemEquipped"}}
                        </li>

                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.itemMiscellaneous.inclusive 'plotItem')}}''
                                {{else if (contains filters.itemMiscellaneous.exclusive 'plotItem')}}
                                    a5e-tag--red
                                {{else}}
                                    a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="object"
                            data-category="miscellaneous"
                            data-value="plotItem"
                        >
                            {{localize "A5E.PlotItem"}}
                        </li>

                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.itemMiscellaneous.inclusive 'requiresAttunement')}}''
                                {{else if (contains filters.itemMiscellaneous.exclusive 'requiresAttunement')}}
                                    a5e-tag--red
                                {{else}}
                                    a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="object"
                            data-category="miscellaneous"
                            data-value="requiresAttunement"
                        >
                            {{localize "A5E.AttunementRequired"}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <a
            class="a5e-button a5e-button--filter-reset a5e-js-reset-filters"
            data-item-type="object"
        >
            {{localize "A5E.FiltersReset"}}
        </a>
    </section>

    <section
        class="u-flex u-flex-col u-flex-grow u-gap-lg u-h-full u-mb-xl u-overflow-y-auto u-pb-xl a5e-js-inventory-scroll-area"
    >
        <section>
            <header
                class="u-border-b u-border-gray u-flex u-justify-space-between u-mr-xl u-mb-md u-pb-md u-px-md"
            >
                <h3 class="u-border-none u-font-serif u-text-lg u-w-full u-w-fit">
                    {{ localize "A5E.TabInventory" }}
                </h3>

                <a class="a5e-button a5e-button--add-item a5e-js-create-inventory-item">
                    + {{localize "A5E.ItemAdd"}}
                </a>
            </header>

            <ul
                class="u-flex u-flex-col u-gap-sm u-list-style-none u-m-0 u-p-0 u-pr-xl u-w-full a5e-js-item-list">
                {{#each items}}
                    <li
                        class="
                            a5e-box
                            a5e-item
                            {{#if this.data.equipped}}u-bg-light-green{{/if}}
                            a5e-js-item
                        "
                        data-id="{{this._id}}"
                        data-item-id="{{this._id}}"
                        draggable="true"
                    >
                        <img
                            src="{{this.img}}"
                            title="{{this.name}}"
                            class="a5e-image a5e-image--item-inline a5e-js-activate-item"
                        />

                        <span>
                            {{this.name}}
                            {{#if this.showQuantity}}({{this.data.quantity}}){{/if}}
                        </span>

                        {{#if this.data.inlineLabels.length}}
                            <div class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-gap-sm u-text-xxs u-ml-auto">
                                {{#each this.data.inlineLabels}}
                                    <div class="a5e-tag a5e-tag--tight">
                                        {{this}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}

                        <div class="a5e-item__details">
                            <hr class="a5e-rule">

                            {{#if this.data.description}}
                                {{{this.data.description}}}
                            {{else}}
                                {{localize "A5E.NoDescription"}}
                            {{/if}}
                        </div>

                        <div class="a5e-context-menu">
                            <a class="a5e-context-menu__option a5e-js-equip-item">
                                <i class="fas fa-shopping-bag"></i>
                                {{#if this.data.equipped}}
                                    {{localize "A5E.ItemUnequip"}}
                                {{else}}
                                    {{ localize "A5E.ItemEquip" }}
                                {{/if}}
                            </a>

                            <a class="a5e-context-menu__option a5e-js-edit-item">
                                <i class="fas fa-pen"></i>
                                {{ localize "A5E.ItemEdit" }}
                            </a>

                            <hr class="a5e-rule">

                            <a
                                class="a5e-context-menu__option a5e-context-menu__option--delete a5e-js-delete-item">
                                <i class="fas fa-trash"></i>
                                {{ localize "A5E.ItemDelete" }}
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>
    </section>

    {{#unless (eq actorType "npc")}}
        <footer class="a5e-sheet__bottom-bar a5e-sheet__bottom-bar--inventory">
            <div class="u-align-center u-flex u-gap-md u-text-md">
                <h3 class="u-flex u-gap-sm u-mb-0 u-text-lg">
                    {{localize "A5E.Attunement"}}
                </h3>

                <span class="a5e-footer-group__value a5e-footer-group__value--attunement">
                    {{attunement.current}}
                </span>
                /
                <input
                    class="a5e-footer-group__input a5e-footer-group__input--attunement"
                    type="number"
                    name="data.attributes.attunement.max"
                    value="{{attunement.max}}"
                    placeholder="0"
                    min="0"
                    max="9"
                    data-dtype="Number"
                >
            </div>

            <div class="u-align-center u-flex u-gap-md u-text-md">
                <div class="u-align-center u-flex u-gap-md u-text-md">
                    <h3 class="u-flex u-gap-sm u-mb-0 u-text-lg">
                        {{localize "A5E.Supply"}}
                    </h3>

                    <input
                        class="a5e-footer-group__input"
                        type="number"
                        name="data.supply"
                        value="{{data.supply}}"
                        placeholder="0"
                        min="0"
                        data-dtype="Number"
                    >
                </div>
            </div>

            <div class="u-align-center u-flex u-gap-md u-text-md">
                <h3 class="u-flex u-gap-sm u-mb-0 u-text-lg">
                    {{localize "A5E.Currency"}}
                    <i class="fas fa-coins"></i>
                </h3>

                <ol class="u-flex u-gap-lg u-list-style-none u-ml-xl u-p-0 ">
                    {{#each currency as |value key|}}
                        <li class="u-align-center u-flex u-gap-md u-text-serif">
                            <label class="u-flex u-gap-sm u-mb-0 u-text-lg u-text-uppercase">
                                {{ key }}
                            </label>

                            <input
                                class="a5e-footer-group__input a5e-footer-group__input--currency"
                                type="number"
                                name="data.currency.{{key}}"
                                value="{{value}}"
                                data-dtype="Number"
                            />
                        </li>
                    {{/each}}
                </ol>
            </div>
        </footer>
    {{/unless}}
</section>
