<section
    class="
        a5e-js-sheet-page
        a5e-sheet__tab-content
        a5e-sheet__tab-content--maneuvers
        {{#unless (eq currentTab 'maneuvers')}}a5e-sheet__tab-content--hidden{{/unless}}
    "
    data-group="main"
    data-tab="maneuvers"
>
    <section
        class="u-w-30 u-flex-shrink-0 u-font-secondary u-flex u-flex-col u-gap-md u-mb-xl u-p-md a5e-box"
    >
        <h2 class="u-border-none u-font-serif u-text-lg u-w-full u-text-center">
            {{ localize "A5E.Filters" }}
        </h2>

        <div class="u-flex u-flex-col u-gap-md u-p-md u-h-full u-overflow-y-auto">
            <div>
                {{>
                    "systems/a5e/templates/actors/partials/filter-header.hbs"
                    heading="A5E.FilterLabelActivationCost"
                    filterCategory="maneuver-activation-cost"
                    expandedFilterCategories=expandedFilterCategories
                    exclusiveCount=filters.maneuverActivationCost.exclusive.length
                    inclusiveCount=filters.maneuverActivationCost.inclusive.length
                }}

                {{>
                    "systems/a5e/templates/actors/partials/activation-cost-filter.hbs"
                    heading="A5E.FilterLabelActivationCost"
                    filterCategory="maneuver-activation-cost"
                    itemType="maneuver"
                    expandedFilterCategories=expandedFilterCategories
                    exclusiveFilters=filters.maneuverActivationCost.exclusive
                    inclusiveFilters=filters.maneuverActivationCost.inclusive
                }}
            </div>

            <div>
                {{>
                "systems/a5e/templates/actors/partials/filter-header.hbs"
                heading="A5E.ManeuverDegree"
                filterCategory="maneuver-degrees"
                exclusiveCount=filters.maneuverDegree.exclusive.length
                inclusiveCount=filters.maneuverDegree.inclusive.length
            }}

                <div
                    class="{{#unless (contains expandedFilterCategories 'maneuver-degrees')}}u-hidden{{/unless}}"
                    data-filter-category="maneuver-degrees"
                >
                    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
                        {{#each config.maneuverDegrees as | degree key |}}
                            <li
                                class="
                                    a5e-tag
                                    a5e-tag--tight
                                    .u-pointer
                                    {{#if (contains ../filters.maneuverDegree.inclusive key)}}''
                                    {{else if (contains ../filters.maneuverDegree.exclusive key)}}a5e-tag--red
                                    {{else}}a5e-tag--inactive
                                    {{/if}}
                                    a5e-js-toggle-filter
                                "
                                data-item-type="maneuver"
                                data-category="degree"
                                data-value="{{key}}"
                            >
                                {{localize degree}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div>
                {{>
                "systems/a5e/templates/actors/partials/filter-header.hbs"
                heading="A5E.ManeuverTradition"
                filterCategory="maneuver-traditions"
                exclusiveCount=filters.maneuverTradition.exclusive.length
                inclusiveCount=filters.maneuverTradition.inclusive.length
            }}

                <div
                    class="{{#unless (contains expandedFilterCategories 'maneuver-traditions')}}u-hidden{{/unless}}"
                    data-filter-category="maneuver-traditions"
                >
                    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
                        {{#each config.maneuverTraditions as | tradition key |}}
                            <li
                                class="
                                    a5e-tag
                                    a5e-tag--tight
                                    .u-pointer
                                    {{#if (contains ../filters.maneuverTradition.inclusive key)}}''
                                    {{else if (contains ../filters.maneuverTradition.exclusive key)}}a5e-tag--red
                                    {{else}}a5e-tag--inactive
                                    {{/if}}
                                    a5e-js-toggle-filter
                                "
                                data-item-type="maneuver"
                                data-category="tradition"
                                data-value="{{key}}"
                            >
                                {{localize tradition}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <a
            class="a5e-button a5e-button--filter-reset a5e-js-reset-filters"
            data-item-type="maneuver"
        >
            {{localize "A5E.FiltersReset"}}
        </a>
    </section>

    <section
        class="u-flex u-flex-col u-flex-grow u-gap-lg u-h-full u-mb-xl u-overflow-y-auto u-pb-xl a5e-js-maneuver-scroll-area"
    >
        <section>
            <header
                class="u-border-b u-border-gray u-flex u-justify-space-between u-mr-xl u-mb-md u-pb-md u-px-md"
            >
                <h3 class="u-border-none u-font-serif u-text-lg u-w-full u-w-fit">
                    {{ localize "A5E.TabManeuvers" }}
                </h3>

                <a class="a5e-button a5e-button--add-item a5e-js-create-maneuver-item">
                    + {{localize "A5E.ManeuverAdd"}}
                </a>
            </header>

            <ul
                class="u-flex u-flex-col u-gap-sm u-list-style-none u-m-0 u-p-0 u-pr-xl u-w-full a5e-js-item-list">
                {{#each items}}
                    <li
                        class="a5e-item a5e-box a5e-js-item"
                        data-id="{{this._id}}"
                        data-item-id="{{this._id}}"
                        draggable="true"
                    >
                        <img
                            src="{{this.img}}"
                            title="{{this.name}}"
                            class="a5e-image a5e-image--item-inline a5e-js-activate-item"
                        />

                        <span>
                            {{this.name}}
                            {{#if this.showExertionLabel}}({{this.exertionLabel}}){{/if}}
                        </span>

                        {{#if this.data.inlineLabels.length}}
                            <div class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-gap-sm u-text-xxs u-ml-auto">
                                {{#each this.data.inlineLabels}}
                                    <div class="a5e-tag a5e-tag--tight">
                                        {{this}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/if}}

                        <div class="a5e-item__details">
                            <hr class="a5e-rule">

                            {{#if this.data.description}}
                                {{{this.data.description}}}
                            {{else}}
                                {{localize "A5E.NoDescription"}}
                            {{/if}}
                        </div>

                        <div class="a5e-context-menu">
                            <a class="a5e-context-menu__option a5e-js-edit-item">
                                <i class="fas fa-pen"></i>
                                {{ localize "A5E.ItemEdit" }}
                            </a>

                            <hr class="a5e-rule">

                            <a
                                class="a5e-context-menu__option a5e-context-menu__option--delete a5e-js-delete-item">
                                <i class="fas fa-trash"></i>
                                {{ localize "A5E.ItemDelete" }}
                            </a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </section>
    </section>

    <footer class="a5e-sheet__bottom-bar a5e-sheet__bottom-bar--maneuvers">
        <div class="u-align-center u-flex u-gap-md u-text-md">
            <h3 class="u-mb-0">
                {{localize "A5E.ManeuverDC"}}
            </h3>

            <span class="a5e-footer-group__value">{{ maneuverDC }}</span>
        </div>

        <div class="u-align-center u-flex u-gap-md u-text-md">
            <h3 class="u-mb-0">
                {{localize "A5E.ExertionPool"}}
            </h3>

            <input
                class="a5e-footer-group__input"
                type="number"
                name="data.attributes.exertion.current"
                value="{{exertion.current}}"
                placeholder="0"
                min="0"
                data-dtype="Number"
            >
            /
            <input
                class="a5e-footer-group__input"
                type="number"
                name="data.attributes.exertion.max"
                value="{{exertion.max}}"
                placeholder="0"
                min="0"
                data-dtype="Number"
            >
        </div>

        <div class="u-align-center u-flex u-gap-md u-text-md">
            <h3 class="u-mb-0">{{ localize "A5E.ConfigureManeuvers"}}</h3>

            <i class="a5e-config-button u-text-md a5e-js-configure-maneuvers fas fa-cog">
            </i>
        </div>
    </footer>
</section>
