<section
    class="
        a5e-js-sheet-page
        a5e-sheet__tab-content
        a5e-sheet__tab-content--spells
        {{#unless (eq currentTab 'spells')}}a5e-sheet__tab-content--hidden{{/unless}}
    "
    data-group="main"
    data-tab="spells"
>
    <section
        class="u-w-30 u-flex-shrink-0 u-font-secondary u-flex u-flex-col u-gap-md u-mb-xl u-p-md a5e-box"
    >
        <h2 class="u-border-none u-font-serif u-text-lg u-w-full u-text-center">
            {{ localize "A5E.Filters" }}
        </h2>

        <div class="u-flex u-flex-col u-gap-md u-p-md u-h-full u-overflow-y-auto">
            <div>
                {{>
                    "systems/a5e/templates/actors/partials/filter-header.hbs"
                    heading="A5E.FilterLabelActivationCost"
                    filterCategory="spell-activation-cost"
                    expandedFilterCategories=expandedFilterCategories
                    exclusiveCount=filters.spellActivationCost.exclusive.length
                    inclusiveCount=filters.spellActivationCost.inclusive.length
                }}

                {{>
                    "systems/a5e/templates/actors/partials/activation-cost-filter.hbs"
                    heading="A5E.FilterLabelActivationCost"
                    filterCategory="spell-activation-cost"
                    itemType="spell"
                    expandedFilterCategories=expandedFilterCategories
                    exclusiveFilters=filters.spellActivationCost.exclusive
                    inclusiveFilters=filters.spellActivationCost.inclusive
                }}
            </div>

            <div>
                {{>
                "systems/a5e/templates/actors/partials/filter-header.hbs"
                heading="A5E.FilterLabelSpellComponents"
                filterCategory="spell-components"
                exclusiveCount=filters.spellComponents.exclusive.length
                inclusiveCount=filters.spellComponents.inclusive.length
            }}

                <div
                    class="{{#unless (contains expandedFilterCategories 'spell-components')}}u-hidden{{/unless}}"
                    data-filter-category="spell-components"
                >
                    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
                        {{#each config.spellComponents as | component key | }}
                            <li
                                class="
                                    a5e-tag
                                    a5e-tag--tight
                                    .u-pointer
                                    {{#if (contains ../filters.spellComponents.inclusive key)}}''
                                    {{else if (contains ../filters.spellComponents.exclusive key)}}a5e-tag--red
                                    {{else}}a5e-tag--inactive
                                    {{/if}}
                                    a5e-js-toggle-filter
                                "
                                data-item-type="spell"
                                data-category="components"
                                data-value="{{key}}"
                            >
                                {{localize component}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div>
                {{>
                "systems/a5e/templates/actors/partials/filter-header.hbs"
                heading="A5E.FilterLabelSpellSchools"
                filterCategory="spell-schools"
                exclusiveCount=filters.spellSchools.exclusive.length
                inclusiveCount=filters.spellSchools.inclusive.length
            }}

                <div
                    class="{{#unless (contains expandedFilterCategories 'spell-schools')}}u-hidden{{/unless}}"
                    data-filter-category="spell-schools"
                >
                    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
                        {{#each config.spellSchools.primary as | school key | }}
                            <li
                                class="
                                    a5e-tag
                                    a5e-tag--tight
                                    .u-pointer
                                    {{#if (contains ../filters.spellSchools.inclusive key)}}''
                                    {{else if (contains ../filters.spellSchools.exclusive key)}}a5e-tag--red
                                    {{else}}a5e-tag--inactive
                                    {{/if}}
                                    a5e-js-toggle-filter
                                "
                                data-item-type="spell"
                                data-category="school"
                                data-value="{{key}}"
                            >
                                {{localize school}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>

            <div>
                {{>
                "systems/a5e/templates/actors/partials/filter-header.hbs"
                heading="A5E.FilterLabelMiscellaneous"
                filterCategory="spell-miscellaneous"
                exclusiveCount=filters.spellMiscellaneous.exclusive.length
                inclusiveCount=filters.spellMiscellaneous.inclusive.length
            }}

                <div
                    class="{{#unless (contains expandedFilterCategories 'spell-miscellaneous')}}u-hidden{{/unless}}"
                    data-filter-category="spell-miscellaneous"
                >
                    <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-text-xs u-mt-md">
                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.spellMiscellaneous.inclusive 'concentration')}}''
                                {{else if (contains filters.spellMiscellaneous.exclusive 'concentration')}}a5e-tag--red
                                {{else}}a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="spell"
                            data-category="miscellaneous"
                            data-value="concentration"
                        >
                            {{localize "A5E.SpellConcentration"}}
                        </li>

                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.spellMiscellaneous.inclusive 'prepared')}}''
                                {{else if (contains filters.spellMiscellaneous.exclusive 'prepared')}}a5e-tag--red
                                {{else}}a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="spell"
                            data-category="miscellaneous"
                            data-value="prepared"
                        >
                            {{localize "A5E.ItemPrepared"}}
                        </li>

                        <li
                            class="
                                a5e-tag
                                a5e-tag--tight
                                .u-pointer
                                {{#if (contains filters.spellMiscellaneous.inclusive 'ritual')}}''
                                {{else if (contains filters.spellMiscellaneous.exclusive 'ritual')}}a5e-tag--red
                                {{else}}a5e-tag--inactive
                                {{/if}}
                                a5e-js-toggle-filter
                            "
                            data-item-type="spell"
                            data-category="miscellaneous"
                            data-value="ritual"
                        >
                            {{localize "A5E.SpellRitual"}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <a
            class="a5e-button a5e-button--filter-reset a5e-js-reset-filters"
            data-item-type="spell"
        >
            {{localize "A5E.FiltersReset"}}
        </a>
    </section>

    <section
        class="u-flex u-flex-col u-flex-grow u-gap-lg u-h-full u-mb-xl u-overflow-y-auto u-pb-xl a5e-js-spell-scroll-area"
    >
        {{#each config.spellLevels as |label level|}}
            {{#if (contains ../availableSpellLevels level)}}
                <section>
                    <header
                        class="u-border-b u-border-gray u-flex u-gap-lg u-mr-xl u-mb-md u-pb-md u-px-md"
                    >
                        <h3 class="u-border-none u-font-serif u-text-lg u-w-full u-w-fit">
                            {{ localize label }}
                        </h3>

                        {{#unless (eq level "0")}}
                            {{#if ../showSpellSlots}}
                                <div class="u-align-center u-flex u-gap-sm">
                                    {{#with (lookup ../spellResources.slots level) as | resources |}}
                                        <input
                                            class="a5e-spell-slots__input"
                                            type="number"
                                            name="data.spellResources.slots.{{level}}.current"
                                            value="{{resources.current}}"
                                            data-dtype="Number"
                                            min="0"
                                            max="9"
                                        />
                                        /
                                        <input
                                            class="a5e-spell-slots__input"
                                            type="number"
                                            name="data.spellResources.slots.{{level}}.max"
                                            value="{{resources.max}}"
                                            data-dtype="Number"
                                            min="0"
                                            max="9"
                                        />
                                    {{/with}}
                                </div>
                            {{/if}}
                        {{/unless}}

                        <a
                            class="a5e-button a5e-button--add-item a5e-js-create-spell-item"
                            data-level="{{level}}"
                        >
                            + {{localize "A5E.SpellAdd"}}
                        </a>
                    </header>

                    <ul
                        class="u-flex u-flex-col u-gap-sm u-list-style-none u-m-0 u-p-0 u-pr-xl u-w-full a5e-js-item-list">
                        {{#each (lookup ../items level) }}
                            <li
                                class="
                                    a5e-box
                                    a5e-item
                                    {{#if this.data.prepared}}u-bg-light-green{{/if}}
                                    a5e-js-item
                                "
                                data-id="{{this._id}}"
                                data-item-id="{{this._id}}"
                                draggable="true"
                            >
                                <img
                                    src="{{this.img}}"
                                    title="{{this.name}}"
                                    class="a5e-image a5e-image--item-inline a5e-js-activate-item"
                                />

                                <span>{{this.name}}</span>

                                {{#if this.data.inlineLabels.length}}
                                    <div class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-gap-sm u-text-xxs u-ml-auto">
                                        {{#each this.data.inlineLabels}}
                                            <div class="a5e-tag a5e-tag--tight">
                                                {{this}}
                                            </div>
                                        {{/each}}
                                    </div>
                                {{/if}}

                                <div class="a5e-item__details">
                                    <hr class="a5e-rule">

                                    {{#if this.data.description}}
                                        {{{this.data.description}}}
                                    {{else}}
                                        {{localize "A5E.NoDescription"}}
                                    {{/if}}

                                    {{#if this.data.descriptionLabels.components.length}}
                                        <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-gap-sm u-text-xxs">
                                            {{#each this.data.descriptionLabels.components}}
                                                <li class="a5e-tag a5e-tag--tight">{{this}}</li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}

                                    {{#if this.data.descriptionLabels.schools.length}}
                                        <ul class="u-flex u-flex-wrap u-font-san-serif
u-gap-md u-list-style-none u-m-0 u-p-0 u-gap-sm u-text-xxs">
                                            {{#each this.data.descriptionLabels.schools}}
                                                <li class="a5e-tag a5e-tag--tight">{{this}}</li>
                                            {{/each}}
                                        </ul>
                                    {{/if}}
                                </div>

                                <div class="a5e-context-menu">
                                    <a class="a5e-context-menu__option a5e-js-prepare-spell">
                                        <i class="fas fa-magic"></i>
                                        {{ localize "A5E.ItemTogglePreparation" }}
                                    </a>

                                    <a class="a5e-context-menu__option a5e-js-edit-item">
                                        <i class="fas fa-pen"></i>
                                        {{ localize "A5E.ItemEdit" }}
                                    </a>

                                    <hr class="a5e-rule">

                                    <a
                                        class="a5e-context-menu__option a5e-context-menu__option--delete a5e-js-delete-item">
                                        <i class="fas fa-trash"></i>
                                        {{ localize "A5E.ItemDelete" }}
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                </section>
            {{/if}}
        {{/each}}
    </section>

    <footer class="a5e-sheet__bottom-bar a5e-sheet__bottom-bar--spells">
        {{#if showSpellPoints}}
            <div class="u-align-center u-flex u-gap-md u-text-md">
                <h3 class="u-mb-0">
                    {{localize "A5E.SpellPoints"}}
                </h3>

                <input
                    class="a5e-footer-group__input"
                    type="number"
                    name="data.spellResources.points.current"
                    value="{{spellResources.points.current}}"
                    placeholder="0"
                    min="0"
                    data-dtype="Number"
                >
                /
                <input
                    class="a5e-footer-group__input"
                    type="number"
                    name="data.spellResources.points.max"
                    value="{{spellResources.points.max}}"
                    placeholder="0"
                    min="0"
                    data-dtype="Number"
                >
            </div>
        {{/if}}

        <div class="u-align-center u-flex u-gap-md u-text-md u-ml-auto">
            <h3 class="u-mb-0">{{ localize "A5E.ConfigureSpells"}}</h3>

            <i
                class="a5e-config-button a5e-config-button--large a5e-js-configure-spell-tab fas fa-cog">
            </i>
        </div>
    </footer>
</section>
